$color-primary = #31c27c;
$header-background = $color-primary;
$headerHeight = 12vh;
$footerHeight = 12vh;
$currencyHeaderHeight = 8vh
$navbarHeaderHeight = 5.5vh;
$mintHeaderHeight = 6vh;
$navbarHeaderTextHeight = 3.5vh;
$subTitleHeaderHeight = 5vh;
$mintContentPaddingWidth = 5vw;
$tabbarFooterHeight = 8.5vh;
$chatFooterHeight = 7.25vh;
$buttonFooterHeight = 12vh;
$logo-height = 25px;
$body-background = #f4f4f4;
$nav-item-height = 40px;
$nav-item-color = rgba(0,0,0,.6);
$nav-item-active = $color-primary;
$primary-color = #8c0776;
$image-loading = 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJ3aGl0ZSI+CiAgPHBhdGggb3BhY2l0eT0iLjI1IiBkPSJNMTYgMCBBMTYgMTYgMCAwIDAgMTYgMzIgQTE2IDE2IDAgMCAwIDE2IDAgTTE2IDQgQTEyIDEyIDAgMCAxIDE2IDI4IEExMiAxMiAwIDAgMSAxNiA0Ii8+CiAgPHBhdGggZD0iTTE2IDAgQTE2IDE2IDAgMCAxIDMyIDE2IEwyOCAxNiBBMTIgMTIgMCAwIDAgMTYgNHoiPgogICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTYgMTYiIHRvPSIzNjAgMTYgMTYiIGR1cj0iMC44cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIC8+CiAgPC9wYXRoPgo8L3N2Zz4K'
$zIndexPopup = 1;
$zIndexMax = 99999999;


